@import url("https://fonts.googleapis.com/css2?family=Inter+Tight");

:root {
  --background: #f3f4f6;
  --darkcolor: #0f766e;
  --lighttext: #f9fafb;
  --somecolor: #ece9e5;
  --hoverblue: rgb(12, 74, 110);
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background);
}

body {
  font-family: "Inter Tight", sans-serif;
}

.nav {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--darkcolor);
}

.pagetitle {
  font-size: 32px;
  font-weight: 600;
  color: var(--lighttext);
}

.pagetitle:hover {
  color: antiquewhite;
}

.mainwrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boardwrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.board {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.bottom {
  border-bottom: 2px solid var(--darkcolor);
}

.right {
  border-right: 2px solid var(--darkcolor);
}

.left {
  border-left: 2px solid var(--darkcolor);
}

.top {
  border-top: 2px solid var(--darkcolor);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}

.gameinfowrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}

.gameinfo {
  height: 200px;
  width: 300px;
  border: 2px solid var(--darkcolor);
  border-radius: 5px;
  background-color: var(--somecolor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameplaythrough {
  font-size: 32px;
}

.cell.x:hover {
  background-color: rgb(215, 240, 215);
}

.cell.o:hover {
  background-color: rgb(233, 204, 204);
}

.footer {
  display: flex;
  justify-content: flex-start;
  background-color: var(--darkcolor);
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px;
  align-items: center;
}

.footercontent {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

a {
  color: white;
}
